<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<!-- <groups> <run> <include name="brokenTests" /> <include name="checkinTests" 
			/> </run> </groups> -->

		<classes>
			<!-- <class name="TestNgClass.TestNGClass1">
				<parameter name="browser" value="Chrome"></parameter>
				<methods>
					<include name="a">

					</include>
				</methods>
			</class>

			<class name="TestNgClass.TestNgClass2">
				<methods>
					<include name="z">
					</include>
				</methods>
			</class>

			<class name="TestNgClass.TestNgClass3"></class> -->
			<class name="TestNgClass.FreeCRMSignUP">
			

			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
